<ul class="list-unstyled">
  <% @memos.each do |memo| %>
    <li class="media mb-3">
      
      <div class="media-body">
        <div>
          <%= memo.created_at %></span>
        </div>
        <div>
          <textarea class="w-100 mb-0 my_textarea" readonly><%= memo.content %></textarea>
          
        </div>
        <div>
          <%= link_to "Edit",edit_memo_path(memo),class: "btn btn-success btn-sm" %>
          <%= link_to "Delete", memo, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>  
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate memos %>
</ul>