<h1>メモ編集ページ</h1>

<%= form_with(model: @memo, local: true) do |f| %>
  <%= render 'layouts/error_messages',model: f.object %>

  <%= f.text_area :content,class: 'w-75' %>

  <%= f.submit 'Update',class:"btn btn-primary btn-sm" %>
<% end %>

<%= link_to 'トップページに戻る', root_path %>